<div class="container">
    <div class="prefooter">
        <div class="row">
            <div class="col-md-9">
                <h3>Is there anyone else you would want us to add?</h3>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn btn-clear btn-prefoot">SUBMIT NAME</a>
            </div>
        </div>
    </div>

    <div class="line-footer"></div>

    <div class="row">
        <div class="col-md-8">
            <ul class="menu-footer">
                <li> <a href="">Terms and Conditions </a></li>
                <li> <a href="">Privacy Policy </a></li>
                <li> <a href="">Contact Us </a></li>

            </ul>
        </div>
    </div>
</div>