<div class="bg-home">
    <div class="container">

        <app-menu></app-menu>


        <div class="row">
            <div class="col-md-12">
                <div class="box-home">
                    <div class="box-body">
                        <p class="opinion">What’s your opinion on</p>
                        <h1 class="title-opinion">{{people[0]['title']}}</h1>
                        <br>
                        <p>{{people[0]['description']}} </p>
                        <h5>What’s Your Verdict?</h5>
                    </div>

                    <div class="row votes">
                        <div class="col-md-6 like text-center" *ngIf="!votes1">
                            <img src="assets/imgs/like.png" class="like-icon" (click)="vote(people[0]['id'],'like')">
                        </div>
                        <div class="col-md-6 dislike text-center" *ngIf="!votes1">
                            <img src="assets/imgs/dislike.png" class="like-icon" (click)="vote(people[0]['id'],'dislike')">
                        </div>

                        <div class="votes-percent" *ngIf="votes1">
                            <div class="percent like" [ngStyle]="{'width': people[0]['percent_like']+'%'}">
                                <img src="assets/imgs/like.png" class="like-icon" (click)="vote(people[0]['id'],'like')"> <span class="percent-number">{{ people[0]['percent_like'] | number :'1.0-0'}}%</span>
                            </div>
                            <div class="percent dislike" [ngStyle]="{'width': people[0]['percent_dislike']+'%'}">
                                <img src="assets/imgs/dislike.png" class="like-icon" (click)="vote(people[0]['id'],'dislike')"> <span class="percent-number">{{ people[0]['percent_dislike'] | number : '1.0-0'}}%</span>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-right item1">
            <p class="txt-closing">CLOSINNG IN</p>
        </div>
        <div class="col-md-8  item2">
            <p><strong class="days txt-closing">22</strong> days</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="call-to-action">
        <div class="row">
            <div class="col-md-2">
                <p>Speak out. Be heard.</p>
                <h3 class="be-counted">Be counted</h3>
            </div>
            <div class="col-md-9">
                <p>Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It’s easy: You share your opinion, we analyze and put the data in a public report</p>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <h3 class="previos-txt">Previous Rulings</h3>

    <div class="row">
        <div class="col-md-6 boxi" *ngFor="let item of people, let indice=index" [hidden]=" item.featured == 1 ">

            <div class="boxes" [ngStyle]="{'background-image': 'url(' + item.img + ')'}">
                <h1>{{item.title}}</h1>
                <p>{{item.description}}</p>

                <div class="row">
                    <div class="col-md-8">
                        <a href="#" class="btn btn-clear btn-report">VIEW FULL REPORT</a>
                    </div>
                    <div class="col-md-4">
                        <p class="date-box">1 month ago <br>in Enterteiment</p>
                    </div>
                </div>
            </div>

            <div class="votes-percent margin-top-boxes">
                <div class="percent like" [ngStyle]="{'width': item.percent_like+'%'}">
                    <img src="assets/imgs/like.png" class="like-icon" (click)="vote(item.id,'like')"> <span class="percent-number">{{ item.percent_like | number :'1.0-0'}}%</span>
                </div>
                <div class="percent dislike" [ngStyle]="{'width': item.percent_dislike+'%'}">
                    <img src="assets/imgs/dislike.png" class="like-icon" (click)="vote(item.id,'dislike')"> <span class="percent-number">{{ item.percent_dislike | number :'1.0-0'}}%</span>
                </div>
            </div>

        </div>

    </div>
</div>

<app-footer></app-footer>