<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">
        <h1 class="title-site">Rule of Thumb.</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <img src="assets/imgs/menu-icon.png">
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


        </ul>
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link menu-link" href="">Past Trials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="">How it Works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="">Log In / Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="">
                    <img src="assets/imgs/search-icon.png" class="icon">
                </a>
            </li>
        </ul>

    </div>
</nav>