/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
* {
    font-family: 'Lato', sans-serif;
}

.bg-home {
    background: url('assets/imgs/bg-home.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title-site {
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.menu-link {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}

.navbar {
    padding-top: 3%;
}

.nav-item {
    margin: 0px 25px;
}

.icon {
    width: 20px;
}

.box-home {
    width: 400px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 5% 3%;
    color: #fff;
}

.box-body {
    padding: 8%;
}

.title-opinion {
    margin-top: -20px;
}

.votes {
    padding: 0px 15px;
    margin-top: -2px;
}

.like {
    background-color: rgba(45, 187, 180, 0.8);
    height: 45px;
    padding: 0px 10px;
}

.dislike {
    background-color: rgba(250, 176, 47, 0.8);
    height: 45px;
    padding: 0px 10px;
}

.icon-votes {
    color: #fff;
}

.like-icon {
    height: 20px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}

.votes-percent {
    width: 100%;
}

.percent {
    display: inline-block;
}

.percent-number {
    margin-left: 2px;
    color: #fff;
}

.item1 {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding-top: 10px;
}

.item2 {
    background-color: rgba(255, 255, 255, 0.7);
    color: #464646;
    padding-top: 2px;
    font-size: 18px;
}

.days {
    font-size: 26px;
}

.call-to-action {
    background-color: #ebebeb;
    margin: 30px 0px;
    padding: 20px;
}

.be-counted {
    margin-top: -20px;
}

.boxes {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 6%;
    padding-top: 35%;
    color: #fff;
    height: 450px;
}

.date-box {
    font-size: 11px;
    text-align: right
}

.btn-report {
    border: 1px solid #fff;
    color: #fff;
}

.margin-top-boxes {
    margin-top: -45px;
}

.m-t {
    margin-top: -15px;
}

.prefooter {
    background: url('assets/imgs/prefoot.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 2%;
    margin: 30px 0px;
}

.btn-prefoot {
    border: 2px solid #333;
    color: #333;
}

.line-footer {
    border-bottom: 1px dotted #979797;
}

.menu-footer {
    list-style-type: none;
    margin: 10px 0px;
    margin-left: -40px;
    margin-bottom: 20px;
}

.menu-footer li {
    display: inline-block;
    margin-right: 15px;
    color: #979797;
}

.menu-footer li a {
    color: #979797;
}

.boxi {
    margin: 20px 0px;
}

@media (max-width: 400px) {
    .box-home {
        width: 350px;
        height: 350px;
        margin: 0px;
    }
    .bg-home {
        background: url('assets/imgs/bg-home.jpg') no-repeat top center;
        width: 103%;
    }
    .item1 {
        padding-top: 10px;
        margin-top: 50px;
    }
    .txt-closing {
        text-align: center;
    }
    .days {
        text-align: center;
        padding-left: 40%;
    }
    .call-to-action {
        margin: 0px 20px;
    }
    .previos-txt {
        text-align: center;
        margin-top: 20px;
    }
    .boxi {
        margin: 10px 20px;
    }
    .title-site {
        font-size: 26px;
    }
    .prefooter {
        margin: 20px;
        padding: 15px;
    }
    .menu-footer {
        margin: 20px;
    }
    .menu-footer li {
        display: block;
        text-align: center;
    }
}